<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zlyq.android.analytics">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.zlyq.android.analytics.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zlyq.android.analytics.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!--协议部分，自定义设置
                    如：zlzzanalysis://debugmode.app?project_id=1&debug_id=12i7tkOf
                    artandc91cf844bd9d8d3b25e802e58bb0aa3f://zlzz.com?project_id=1&debug_id=12i7tkOf
                   -->
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="zlzz.com"
                    android:scheme="artandc91cf844bd9d8d3b25e802e58bb0aa3f" />
            </intent-filter>
        </activity>
    </application>

</manifest>